.post-caption {
  color: var(--primary-text-color);
  border: 2px solid var(--secondary-highlight-color);
  padding: 0.75em 1em;
  width: 100%;
  border-radius: 10px;
  gap: 0.75em;
  margin-top: 2em;
}

.post-caption__content {
  font-size: 0.9rem;
  word-wrap: break-word;
  text-wrap: wrap;
}

.post-caption__button-group {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  gap: 1.25em;
}

.post-caption__button {
  font-size: 1rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  cursor: pointer;
}

@media (min-width: 650px) {
  .post-caption__button {
    font-size: 1.1rem;
  }
  .post-caption__button-group {
    align-self: flex-end;
    flex-direction: row;
    gap: 1em;
  }
}
