@import "./ultilize.css";

.service {
  color: var(--primary-text-color);
  border: 2px solid var(--secondary-highlight-color);
  padding: 1.25em 3em;
  width: 50%;
  border-radius: 10px;
  gap: 0.75em;
}

.service__thumbnail {
  align-self: center;
  font-size: 2rem !important;
}

.service__title {
  font-size: 1.125rem;
  margin-bottom: 0.25em;
}

.service__description {
  font-size: 0.9rem;
  color: var(--secondary-text-color);
}
